In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series([4,5,-6,2,13,9],index=['a','b','c','d','m','k'])
s1

In [3]:
sdata = {'Warszawa':455,'Lublin':411,'Kraków':421}
s2 = pd.Series(sdata)
s2

In [4]:
data = {
    'miasto':['Wrocław','Poznań','Gdańsk','Katowice'],
    'wnioski':[434,754,234,754],
    'projekty':[6,7,3,5]
}

frame = pd.DataFrame(data,index=['pierwszy','drugi','trzeci','czwarty'])
frame

,miasto,wnioski,projekty
pierwszy,Wrocław,434,6
drugi,Poznań,754,7
trzeci,Gdańsk,234,3
czwarty,Katowice,754,5

In [9]:
daty = pd.date_range("20240115",periods=6)
daty

DatetimeIndex(['2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18',
               '2024-01-19', '2024-01-20'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))

In [11]:
df

,A,B,C,D
2024-01-15,-0.438922,1.192834,-0.081034,-0.451354
2024-01-16,-0.137558,1.793050,-2.229763,-2.128397
2024-01-17,-0.118528,0.179487,-0.849599,0.734276
2024-01-18,0.507873,0.041931,-0.248179,1.157436
2024-01-19,0.941150,1.838320,1.211618,0.338250
2024-01-20,0.833380,1.363897,-0.559107,-1.277882

In [12]:
s = "lajkonik"
s

'lajkonik'

In [13]:
s[0]

'l'

In [14]:
s[1]

'a'

In [15]:
s[2:6]

'jkon'

In [16]:
s[::-1]

'kinokjal'